body {
  color: #f00;
}

.react-btn {
  padding: 10px 40px;
}

.blog-card {
  background-color: rgb(177, 177, 177);
  margin-bottom: 20px;
  padding: 10px;
}

.nav {
  display: flex;
  gap: 20px;
}

input {
  padding: 4px;
}

form {
  width: 300px;
  display: grid;
  gap: 10px;
}

form div {
  display: grid;
}
